.music-control {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
    @at-root {
        .music-control-list{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}
